node_modules
public/hot
public/storage
public/files
public/profiles
public/seerbit.log
public/thumbnails
public/theme/img
public/pdfjs
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views_backup_*/
