.main-header{
    margin-top: 100px;
}




.logo-2{
    width: 250px;
}

.why-card{
    border: none;
    padding: 0 10px 0 10px;
}
.why-section .contimg{
    width: 110px;
}

.why-card p{
    font-size: 1.3em;
    line-height: 1.5em;
}

.why-card h2{
    font-size: 24px;
    font-weight: 500;
}

.why-title{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 40px 0 10px 0;
}
@media (max-width: 991px) {
    .logo-2{
        width: 200px;
    }
}

@media (max-width: 767px) {
    .logo-2{
        width: 200px;
    } 
}

@media (max-width: 575px) {
    .logo-2{
        width: 180px;
    }  
}

@media (max-width: 480px) {
    .logo-2{
        width: 180px;
    }  
}



.desc p{
    font-size: 21px;
}
.cont{
    margin: 30px;
}

.search_text{
    background-color: transparent;
    border-radius: 30px;
}

.search_text::placeholder{
   color: #FFF;
}

.search_text::-moz-placeholder{
    color: #FFF;
 }

 .navbar> .container-top {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    padding-right: 1rem;
  
 }

 .section-container{
    margin: 10px 60px 10px 60px;
 }

