.main-header{
    margin-top: 100px;
}




.desc img{
    width: 190px;
}

.desc p{
    font-size: 21px;
}
.cont{
    margin: 30px;
}

.search_text{
    background-color: transparent;
    border-radius: 30px;
}

.search_text::placeholder{
   color: #FFF;
}

.search_text::-moz-placeholder{
    color: #FFF;
 }

