.main-header{
   
}




.logo-2{
    width: 300px;
}

.why-card{
    border: none;
    padding: 0 10px 0 10px;
}
.why-section .contimg{
    width: 110px;
}

.why-card p{
    font-size: 1.3em;
    line-height: 1.5em;
}

.why-card h2{
    font-size: 24px;
    font-weight: 500;
}

.why-title{
    font-size: 36px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 40px 0 10px 0;
}

.search{
    width: 100%;
   
 
}

    .search .form-control{
     height: 60px;
   
     text-indent: 25px;
     border: 2px solid #d6d4d4;
    }


    .search input:focus{
     box-shadow: none;
     border: 2px solid #FFA500 !important;
    }

    .search input::placeholder{
        font-size: 16px;
        padding-left: 10px;
    }

    .search input::-moz-placeholder{
        margin-left: 10px;
    }

    .search .fa-search{
     position: absolute;
     top: 18px !important;
     font-size: 24px;
  

    }

    .search .btn2{
     border-radius: 10px;
     border: none;
     position: absolute;
     top: 5px !important;
     right: 5px;
     height: 50px;
     width: 110px;
     background: #FFA500;

    }

    .search-box{
        margin-top: 20px;
    }
@media (max-width: 991px) {
    .logo-2{
        width: 200px;
    }
    .why-title{
        font-size: 27px;
        font-weight: 700;
    }
}

@media (max-width: 767px) {
    .logo-2{
        width: 200px;
    } 

    .search{
      
        width: 100%;
        }

    .why-title{
        font-size: 32px;
        font-weight: 700;
    }
}

@media (max-width: 575px) {
    .logo-2{
        width: 180px;
    }  
    .why-title{
        font-size: 24px;
        font-weight: 700;
    }
}

@media (max-width: 480px) {
    .why-title{
        font-size: 22px;
        font-weight: 700;
    }
    .logo-2{
        width: 180px;
    }  
}



.desc p{
    font-size: 21px;
}
.cont{
    margin: 30px;
}

.search_text{
    background-color: transparent;
    border-radius: 30px;
}

.search_text::placeholder{
   color: #FFF;
}

.search_text::-moz-placeholder{
    color: #FFF;
 }

 .navbar> .container-top {
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    padding-right: 1rem;
  
 }

 .section-container{
    margin: 10px 60px 10px 60px;
 }

