
    .login-img {
        background: url(../img/site/banner3.jpg) no-repeat center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      
      .wrap {
        width: 100%;
        overflow: hidden;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
      
      .login-img, .login-wrap {
        width: 50%; }
        @media (max-width: 991.98px) {
          .login-img, .login-wrap {
            width: 100%; } }
      
      @media (max-width: 767.98px) {
        .wrap .login-img {
          height: 250px; } }
      
      .login-wrap {
        position: relative;
        background: #fff h3;
          background-font-weight: 300; }

    .login-section{
        display: flex;
  justify-content: center;
  align-items: center;


    }
